 /* article {
	 height: 100%;
}
 article section {
	 background: red;
	 height: 100%;
	 display: flex;
	 overflow-y: auto;
	 flex-direction: column;
}
 article section.is-narrow {
	 width: 220px;
}
 article section:last-of-type {
	 background: white;
	 flex: 2 1 auto;
} */
.parent {
    height: 30vh;
    width: 90%;
    /* background: red; */
  }
  
.child {
    height: 100%;
    width: 100%;

    overflow-y: scroll;

    /* background: blue; */
}